<div class="page-carousel-demo">
  <div class="col-xs-6">
    <sa-carousel>
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m3.jpg">
        <h4>Title 1</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
          dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href="javascript:void(0);" class="btn btn-info btn-sm">Read more</a>
      </sa-carousel-item>
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m1.jpg">
        <h4>Title 2</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
          dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href="javascript:void(0);" class="btn btn-danger btn-sm">Read more</a>
      </sa-carousel-item>
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m2.jpg">
        <h4>A very long thumbnail title here to fill the space</h4>
      </sa-carousel-item>
    </sa-carousel>
  </div>
  <div class="col-xs-6">
    <sa-carousel animateType="fade" (change)="handleSlideChange($event)">
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m3.jpg">
        <h4>Title 1</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
          dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href="javascript:void(0);" class="btn btn-info btn-sm">Read more</a>
      </sa-carousel-item>
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m1.jpg">
        <h4>Title 2</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
          dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href="javascript:void(0);" class="btn btn-danger btn-sm">Read more</a>
      </sa-carousel-item>
      <sa-carousel-item imgUrl="http://10.16.75.10:8001/img/demo/m2.jpg">
        <h4>A very long thumbnail title here to fill the space</h4>
      </sa-carousel-item>
    </sa-carousel>
  </div>
</div>
