<div class="page-notfound">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-404">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center error-box">
          <h1 class="error-text-2 bounceInDown animated"> Error 404 <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
          <h2 class="font-xl">
            <strong>
              <i class="fa fa-fw fa-warning fa-lg text-warning"></i> Page Not Found
            </strong>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
