<div class="page-button-demo">
  <sa-row>
    <sa-col [span]="4">
      <sa-button>Hello</sa-button>
    </sa-col>
    <sa-col [span]="4">
      <sa-button type="danger">Hello</sa-button>
    </sa-col>
    <sa-col [span]="4">
      <sa-button type="info">Hello</sa-button>
    </sa-col>
    <sa-col [span]="4">
      <sa-button type="success">Hello</sa-button>
    </sa-col>
    <sa-col [span]="4">
      <sa-button type="primary">Hello</sa-button>
    </sa-col>
    <sa-col [span]="4">
      <sa-button type="default">Hello</sa-button>
    </sa-col>
  </sa-row>
</div>
