<div class="page-form-demo">
  <sa-form labelWidth="80px">
    <sa-row [gutter]="16" type="flex">
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称2">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="3">
        <sa-form-item label="活动名称2">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
    </sa-row>
  </sa-form>
  <hr>
  <sa-form labelWidth="80px" [inline]="true" labelPosition="left">
    <sa-row [gutter]="16">
      <sa-col [span]="12">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="6">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
      <sa-col [span]="6">
        <sa-form-item label="活动名称">
          <sa-input></sa-input>
        </sa-form-item>
      </sa-col>
    </sa-row>
  </sa-form>
</div>
