<div class="page-input-demo">
  <sa-row [gutter]="20">
    <sa-col [span]="6">
      <sa-input [(ngModel)]="value" placeholder="请输入内容" tooltip="测试tooltip" icon="fa fa-star" (onIconClick)="handleIconClick()"></sa-input>
    </sa-col>
    <sa-col [span]="6">
      <sa-input [(ngModel)]="value" type="password" placeholder="请输入密码" icon="fa fa-lock" iconPosition="right"></sa-input>
    </sa-col>
    <sa-col [span]="6">
      <sa-input placeholder="请输入内容" [(ngModel)]="value" :disabled="true">
      </sa-input>
    </sa-col>
    <sa-col [span]="6">
      <sa-input placeholder="请选择日期" icon="fa fa-search" tooltip="右侧tooltip" tooltipPosition="top-right" [(ngModel)]="value" (onIconClick)="handleIconClick()">
      </sa-input>
    </sa-col>
  </sa-row>
  <sa-input type="textarea" :rows="5" [(ngModel)]="value">
  </sa-input>
</div>
