<div class="app">
  <header id="header">
    <div id="logo-group">
      <span id="logo"> <img src="http://192.241.236.31/themes/preview/smartadmin/1.8.x/ajax/img/logo.png" alt="SmartAdmin"> </span>
    </div>
    <div class="pull-right">
      <div id="fullscreen" class="btn-header transparent pull-right">
        <span> <a href="javascript:void(0);" (click)="launchFullscreen()" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/HstarComponents/ngx-smartadmin/issues/new" target="_blank"><i class="fa fa-paper-plane"></i> Feedback(Create Issue)</a>
        </li>
        <li>
          <a href="https://github.com/HstarComponents/ngx-smartadmin" target="_blank"><i class="fa fa-github"></i> Github</a>
        </li>
      </ul>
    </div>
  </header>
  <aside id="left-panel">
    <div class="login-info">
      <span>
      <a href="javascript:void(0);" id="show-shortcut">
        <img src="https://avatars3.githubusercontent.com/u/4043284" alt="me" class="online"> 
        <span>Jay.M.Hu</span> <i class="fa fa-angle-down"></i>
      </a>
      </span>
    </div>
    <nav>
      <ul>
        <li *ngFor="let m1 of menuData" [class.active]="m1.active" [class.open]="m1.open" (click)="onMenuItemClick($event, m1)">
          <a href="#" [title]="m1.text">
            <i class="fa fa-lg fa-fw" [ngClass]="m1.icon"></i>
            <span class="menu-item-parent">{{m1.text}}</span>
            <b class="collapse-sign" *ngIf="m1.subMenu && m1.subMenu.length > 0">
              <em class="fa" [class.fa-minus-square-o]="m1.open" [class.fa-plus-square-o]="!m1.open"></em>
            </b>
          </a>
          <ul *ngIf="m1.subMenu && m1.subMenu.length > 0" [style.display]="m1.open ? 'block': 'none'">
            <li *ngFor="let m2 of m1.subMenu" [class.active]="m2.active" [class.open]="m2.open" (click)="onMenuItemClick($event, m2)">
              <a href="#" [title]="m2.text">
                <!-- <i class="fa fa-lg fa-fw"></i> -->
                <span class="menu-item-parent">{{m2.text}}</span>
                <b class="collapse-sign" *ngIf="m2.subMenu && m2.subMenu.length > 0">
                  <em class="fa" [class.fa-minus-square-o]="m2.open" [class.fa-plus-square-o]="!m2.open"></em>
                </b>
              </a>
              <ul *ngIf="m2.subMenu && m2.subMenu.length > 0" [style.display]="m2.open ? 'block': 'none'">
                <li *ngFor="let m3 of m2.subMenu" [class.active]="m3.active" [class.open]="m3.open" (click)="onMenuItemClick($event, m3)">
                  <a href="#" [title]="m3.text">
                    <!-- <i class="fa fa-lg fa-fw"></i> -->
                    <span class="menu-item-parent">{{m3.text}}</span>
                    <b class="collapse-sign" *ngIf="m3.subMenu && m3.subMenu.length > 0">
                      <em class="fa" [class.fa-minus-square-o]="m3.open" [class.fa-plus-square-o]="!m3.open"></em>
                    </b>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
      <span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
      </span>
      <ol class="breadcrumb">
        <li> <a href="javascript:;" (click)="navigateTo('/')">Home</a></li>
      </ol>
    </div>
    <!-- END RIBBON -->
    <div id="content" style="opacity: 1;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
