.sa-tabset {
  &.tabs-left {
    border: 1px solid #ddd;

    .tab-content {
      border: none;
    }

    .nav-tabs {
      width: 109px;
      margin-right: 0;
      border-left: 0;
      border-top: 0;
    }
  }
}
