.sa-table{
  tfoot{
    td{
      padding: 0 !important;
      border-left: none !important;
    }
    .dt-toolbar-footer{
      border: none;
    }
  }
  .sa-table-pagesize-select{
    height: 31px;
    width: 60px;
    margin-top: 2px;
    border-color: #ddd;
    float: right;
    margin-right: 20px;
  }
}
