<table class="sa-table table table-striped table-bordered table-hover dataTable" width="100%">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [ngClass]="{sorting: column.sortable, 'sorting_desc': column.sort === 'desc', 'sorting_asc': column.sort === 'asc'}"
        [style.width]="column.styleWidth" (click)="onHeaderClick(column)">{{column.header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataItems, let idx = index" [ngClass]="{odd: idx % 2 === 0, even: idx % 2 === 1}" (click)="rowClick(row, $event)">
      <td *ngFor="let column of columns">
        <span *ngIf="!column.cellTemplate">{{row[column.field]}}</span>
        <ng-template [ngIf]="column.cellTemplate" [ngTemplateOutlet]="column.cellTemplate" [ngOutletContext]="{ item: row, column: column }"></ng-template>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="pageable">
    <tr>
      <td [attr.colspan]="columns.length">
        <div class="dt-toolbar-footer">
          <div class="col-sm-4 col-xs-12 hidden-xs">
            <div class="dataTables_info">Showing {{1 + pageSize * (pageIndex - 1)}} to {{currentEndIdx}} of {{_totalCount}} entries
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="dataTables_paginate paging_simple_numbers">
              <sa-pagination [totalCount]="_totalCount" [pageSize]="pageSize" [(ngModel)]="pageIndex"></sa-pagination>
            </div>
            <select class="sa-table-pagesize-select" *ngIf="showPageSizeList" [ngModel]="pageSize" (ngModelChange)="onPageSizeSelectChange($event)">
              <option *ngFor="let p of pageSizeList" [value]="p">{{p}}</option>
            </select>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
