.margin-top-20 {
  margin-top: 10px;
}
.row {
  margin-bottom: 10px;
}
.page-alert-demo .sa-alert {
  margin-bottom: 20px;
}
.fixed-navigation nav {
  padding-bottom: 20px;
}
.fixed-navigation .navbar-nav a {
  padding: 15.5px 10px;
}
.page-demo-container .document-container {
  background: #fff;
}
.page-notfound .error-text-2 {
  text-align: center;
  font-size: 700%;
  font-weight: bold;
  font-weight: 100;
  color: #333;
  line-height: 1;
  letter-spacing: -0.05em;
  background-image: -webkit-linear-gradient(92deg, #333, #ed1c24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-notfound .particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #ed1c24;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3) 75%, rgba(0,0,0,0));
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
}
.page-notfound .particle--a {
  -webkit-animation: particle-a 1.4s infinite linear;
  -moz-animation: particle-a 1.4s infinite linear;
  -o-animation: particle-a 1.4s infinite linear;
  animation: particle-a 1.4s infinite linear;
}
.page-notfound .particle--b {
  -webkit-animation: particle-b 1.3s infinite linear;
  -moz-animation: particle-b 1.3s infinite linear;
  -o-animation: particle-b 1.3s infinite linear;
  animation: particle-b 1.3s infinite linear;
  background-color: #00a300;
}
.page-notfound .particle--c {
  -webkit-animation: particle-c 1.5s infinite linear;
  -moz-animation: particle-c 1.5s infinite linear;
  -o-animation: particle-c 1.5s infinite linear;
  animation: particle-c 1.5s infinite linear;
  background-color: #57889c;
}
@-moz-keyframes particle-a {
  0% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(4rem, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: -1;
  }
}
@-webkit-keyframes particle-a {
  0% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(4rem, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: -1;
  }
}
@-o-keyframes particle-a {
  0% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(4rem, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: -1;
  }
}
@keyframes particle-a {
  0% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(4rem, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-3rem, -3rem, 0);
    z-index: -1;
  }
}
@-moz-keyframes particle-b {
  0% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(-3rem, 3.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: -1;
  }
}
@-webkit-keyframes particle-b {
  0% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(-3rem, 3.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: -1;
  }
}
@-o-keyframes particle-b {
  0% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(-3rem, 3.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: -1;
  }
}
@keyframes particle-b {
  0% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.5rem;
    height: 1.5rem;
  }
  50% {
    transform: translate3D(-3rem, 3.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(3rem, -3rem, 0);
    z-index: -1;
  }
}
@-moz-keyframes particle-c {
  0% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.3rem;
    height: 1.3rem;
  }
  50% {
    transform: translate3D(2rem, 2.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: -1;
  }
}
@-webkit-keyframes particle-c {
  0% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.3rem;
    height: 1.3rem;
  }
  50% {
    transform: translate3D(2rem, 2.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: -1;
  }
}
@-o-keyframes particle-c {
  0% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.3rem;
    height: 1.3rem;
  }
  50% {
    transform: translate3D(2rem, 2.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: -1;
  }
}
@keyframes particle-c {
  0% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  25% {
    width: 1.3rem;
    height: 1.3rem;
  }
  50% {
    transform: translate3D(2rem, 2.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }
  55% {
    z-index: -1;
  }
  75% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.5;
  }
  100% {
    transform: translate3D(-1rem, -3rem, 0);
    z-index: -1;
  }
}
.page-progress-demo .sa-progress {
  margin-bottom: 20px;
}
[hidden] {
  display: none !important;
}
.sa-accordion .sa-accordion-item {
  margin-top: -1px;
}
.sa-accordion sa-accordion-item:first-child .sa-accordion-item {
  margin-top: 0;
}
.sa-alert {
  margin-bottom: 0;
}
.widget-body.no-padding .sa-alert {
  border-width: 0 0 0 5px !important;
}
.sa-carousel {
  position: relative;
}
.sa-carousel .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner .item>a>img,
.carousel-inner .item>img {
  line-height: 1;
}
.carousel-inner .active,
.carousel-inner .next,
.carousel-inner .prev {
  display: block;
}
.carousel-inner .active {
  left: 0;
}
.carousel-inner .next {
  left: 100%;
}
.carousel-inner .prev {
  left: -100%;
}
.carousel-inner .next,
.carousel-inner .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  left: 0;
}
.carousel-inner .active.left {
  left: -100%;
}
.carousel-inner .active.right {
  left: 100%;
}
.carousel-inner .item>a>img,
.carousel-inner .item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner .item.active.right,
  .carousel-inner .item.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner .item.active.left,
  .carousel-inner .item.prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner .item.active,
  .carousel-inner .item.next.left,
  .carousel-inner .item.prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
.carousel.fade .item:first-child {
  position: absolute;
  top: 0;
}
.carousel.fade,
.carousel.fade .item.first-item {
  top: auto;
  position: relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  z-index: 2;
}
.carousel.fade,
.carousel.fade .carousel-control {
  z-index: 5;
}
.sa-collapse-box {
  margin-bottom: 10px;
}
.sa-collapse-box .collapse-box-header {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  display: flex;
}
.sa-collapse-box .collapse-box-header b {
  cursor: pointer;
}
.sa-collapse-box .collapse-box-header span {
  flex: 1;
  position: relative;
}
.sa-collapse-box .collapse-box-header span::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 0;
  left: 5px;
  height: 1px;
  background: linear-gradient(to right, #ccc, #666, #ccc);
}
.sa-image-zoom img {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.sa-image-zoom.fullscreen img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.sa-image-zoom.fullscreen .zoom-image-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: #222;
  opacity: 0.5;
}
.sa-image-zoom.fullscreen .zoom-image-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  text-align: center;
  padding-top: 5%;
}
.sa-image-zoom.fullscreen .zoom-image-container .zoom-image {
  height: 90%;
}
.sa-modal.sa-modal-drag .modal-dialog {
  position: absolute;
  top: 30px;
  margin: 0;
}
.sa-modal.sa-modal-drag .modal-header {
  cursor: move;
}
.sa-progress {
  margin-bottom: 0;
}
.sa-rating {
  display: inline-block;
}
.smart-form .sa-rating label {
  float: left;
}
.smart-form .sa-rating label.active {
  color: #3276b1;
}
.smart-form .sa-rating label.hover {
  color: #3b9ff3;
}
.sa-switch.toggle {
  padding-left: 61px;
  padding-right: 0;
}
.sa-switch.toggle i {
  top: 3px;
  right: auto;
  left: 0;
}
.sa-table tfoot td {
  padding: 0 !important;
  border-left: none !important;
}
.sa-table tfoot .dt-toolbar-footer {
  border: none;
}
.sa-table .sa-table-pagesize-select {
  height: 31px;
  width: 60px;
  margin-top: 2px;
  border-color: #ddd;
  float: right;
  margin-right: 20px;
}
.sa-widget.jarviswidget-fullscreen-mode {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}
.sa-widget.jarviswidget-fullscreen-mode .sa-widget-content {
  height: calc(100vh - 34px);
  overflow: auto;
}
.sa-widget .jarviswidget {
  margin-bottom: 0;
}
.sa-wizard::after {
  content: '';
  display: block;
  clear: both;
}

/*# sourceMappingURL=build.css.map*/